# Entornos virtuales
venv/
.env/
.env*

# Archivos de configuración local
*.log
*.pyc
__pycache__/
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/

# Ngrok
ngrok.yml
ngrok.exe
ngrok.zip

# Archivos ZIP u otros paquetes
*.zip
*.rar
*.7z

# Ejecutables y scripts
*.bat
*.exe

# Archivos multimedia grandes
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg
.env
